.square {
    height: 30px;
    width: 27px;
    border: 1px solid #d79213;
  }
  .square1 {
    height: 12px;
    width: 12px;
    padding: 1px 1px 1px 1px;
    margin: 7px;
    border: 1px solid black;
    border-radius: 12px;
    background-color: #e1641b;
  }