<ion-header class="ion-no-border" style="background-color: #ffffff;border: 1px solid #f1eeee;">
  <ion-toolbar mode="md" color="translucent">
    <ion-grid>
      <ion-row>
        <ion-col size="2" class="ion-padding-vertical">
          <ion-icon class="iconsize1" name="arrow-back-outline"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <div class="ion-text-center " style="padding-top: 11px;">
            <ion-text
              style="font-size: 16px; padding-top: 10px;padding-right: 61px;  font-weight: bolder;">RECOMMENDED</ion-text>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row >
  <ion-col size="12"> 
    <img src="../../assets/Images/food4.jpg"  style="object-fit: cover; height: 22vh;width: 100%;padding: 5px" >
<div class="ion-text-start mt-1" style="padding-inline-start: 11px; font: icon; color: #665335;"><b>CHICKEN STARTERS</b></div>
  </ion-col>
  <ion-col size="2" style="padding-inline-start: 14px">
    <div class="square" style="text-align: center;">
      <div class="square1"></div></div>
  </ion-col>
  <ion-col size="10" >
   <ion-text    class="stylefo">Chicken (Chilly) <span style="float: right;">$200</span></ion-text>
  </ion-col>


   <!--  2nd row-->
   <ion-col size="12"> 
    <img src="../../assets/Images/soups.jpg"  style="object-fit: cover; height: 22vh;width: 100%;padding: 5px" >
<div class="ion-text-start mt-1" style="padding-inline-start: 11px; font: icon; color: #665335;"><b>Soups</b></div>
  </ion-col>
  <ion-col size="2" style="padding-inline-start: 14px">
    <div class="square" style="text-align: center;">
      <div class="square1"></div></div>
  </ion-col>
  <ion-col size="10" >
   <ion-text    class="stylefo">Soups<span style="float: right;">$500</span></ion-text>
  </ion-col>
 

   <!-- 3 row -->
   <ion-col size="12"> 
    <img src="../../assets/Images/noodles.jpg"  style="object-fit: cover; height: 22vh;width: 100%;padding: 5px" >
<div class="ion-text-start mt-1" style="padding-inline-start: 11px; font: icon; color: #665335;"><b>Noodles</b></div>
  </ion-col>
  <ion-col size="2" style="padding-inline-start: 14px">
    <div class="square" style="text-align: center;">
      <div class="square1"></div></div>
  </ion-col>
  <ion-col size="10" >
   <ion-text    class="stylefo">Noodles<span style="float: right;">$300</span></ion-text>
  </ion-col>
 
    </ion-row>
  </ion-grid>
  </ion-content>