

<ion-header class="ion-no-border" style="background-color: #ffffff;border: 1px solid #f1eeee;">
  <ion-toolbar  color='danger'>
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="ion-text-start mb-3">
          <ion-row>
            <ion-col  size="1">
              <ion-icon class="iconsize1" name="arrow-back-outline"></ion-icon>
            </ion-col>
            <ion-col  size="11"  class="ion-no-padding">
             <ion-title style="margin-top: 7px;text-align: center;">Search</ion-title>
          
            </ion-col>
          </ion-row>
        </ion-col>
     
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>


<ion-content  class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
     
            <app-input label="Search For Restaurants & Food"></app-input>
      </ion-col>
      <ion-col size="6" class="ion-padding-top">

        <img src="../../assets/Images/grilledcorn.jpg" class="brightness">
        <ion-text class="textoverlay">Grilled Corn</ion-text>
      </ion-col>
      <ion-col size="6" class="ion-padding-top">
        <img src="../../assets/Images/vegetable.jpg"  class="brightness">
       
        <ion-text class="textoverlay">Vegetables</ion-text>
      </ion-col>
      <ion-col size="6">
        <img src="../../assets/Images/prawns.jpg"   class="brightness">
       
        <ion-text class="textoverlay">shrimps</ion-text>
      </ion-col>
      <ion-col size="6">
        <img src="../../assets/Images/milkshake.jpg"   class="brightness">
      
        <ion-text class="textoverlay">Milk Shakes</ion-text>
      </ion-col>
      <ion-col size="6">
        <img src="../../assets/Images/soups.jpg"
          style="height: 18vh;width: 100%; object-fit: cover;filter: brightness(0.5);">
        <ion-text class="textoverlay">Soups</ion-text>
      </ion-col>
      <ion-col size="6">
        <img src="../../assets/Images/noodles.jpg"
          style="height: 18vh;width: 100%; object-fit: cover;filter: brightness(0.5);">
        <ion-text class="textoverlay">Noodles</ion-text>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>