<!-- <ion-header  class="ion-no-border" style="top: 6px;  left: 13px;">
  <ion-toolbar  color="translucent">
    <ion-buttons   >
    
      <ion-icon class="iconsize" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  </ion-header>
  
  <ion-content  class="ion-no-padding">
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="ion-no-padding"><h1 style="float:left;padding-left: 15px;">Welcome Back <span><img src="../../assets/icon/Raised Hand Emoji.png" style="max-width: 100%;  max-height: 26px;font-size: 22px;" ></span></h1></ion-col>
        <ion-col size="12" class="ion-no-padding "><div class="ion-text-start lefttext" >Sign in Your account</div></ion-col>
        <ion-col size="12" class="ion-padding-top"><div class="ion-text-start " ><ion-label >Email</ion-label></div> </ion-col> 
        <ion-col size="12"> <ion-input class="ion-text-start " type="text" placeholder="Enter Email Id"><ion-icon class="ion-text-end pp"  name="mail-outline"></ion-icon></ion-input>   </ion-col> 
        <ion-col size="12" class="ion-padding-top"><div class="ion-text-start " ><ion-label >Password</ion-label></div> </ion-col> 
       
        <ion-col size="12"><ion-input class="ion-text-start" type="Password"  placeholder="Enter Password"><ion-icon class="ion-text-end pp" name="lock-open-outline"></ion-icon></ion-input>   </ion-col> 
        <ion-col size="12" class="ion-padding-bottom ion-padding-topp" ><ion-text class="ion-float-left lefttext" class="textcolor pt-1" >Forgot Password?..</ion-text>   </ion-col> 
        <ion-col size="12" class=" item-background-color ion-text-center btn"><ion-text color="light" > LogIn</ion-text></ion-col> 
        <ion-col size="12" class="ion-padding-top"><ion-text >Don't You have an account ?..</ion-text><ion-text class="textcolor"><b >Sign up</b></ion-text></ion-col> 
        <ion-col size="12"> ━━━━━━━━━ or with ━━━━━━━━</ion-col>
  
        <ion-col size="12" class="padding"><p class="border ion-text-center"><img src="../../assets/icon/google.png" style="max-width: 100%;  max-height: 12px;" > Sign in With google</p></ion-col>
        <ion-col size="12" class="padding"><p class="border ion-text-center"><img src="../../assets/icon/apple.png" style="max-width: 100%;  max-height: 12px;" > Sign in With Apple</p></ion-col>
        
         
  
      </ion-row>
     
  
  
     
    </ion-grid>
  </ion-content> -->

  <ion-content class="ion-padding">
    <h1>Welcome,</h1>
    <h3>Sign in to continue!</h3>
  
    <form>
      <app-input label="Email ID"></app-input>
      <app-input label="Password" type="password"></app-input>
      <a routerLink="/Forgot" class="forgot-password-link">Forgot Password?</a>
  
      <app-button label='Login' (click)="logintest()"></app-button>
      <app-icon-button icon='logo-facebook' label='Connect with Facebook'></app-icon-button>
    </form>
  
    <p class="footer-text">I'm a new user, <a routerLink="/Register">Sign Up</a></p>
  </ion-content>
