<ion-header class="ion-no-border" style="background-color: #ffffff;border: 1px solid #f1eeee;">
  <ion-toolbar mode="md" color="translucent">
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="ion-text-start">
          <ion-icon class="iconsize1" name="arrow-back-outline"></ion-icon>
        </ion-col>
     
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row >
  <ion-col size="2"  class="ion-padding-top"><ion-icon name="location-outline" style="padding-inline-start: 12px;font-size: 45px;height: 7vh;">  </ion-icon> </ion-col>  
      
  <ion-col size="10"  class="ion-padding-top"><p style="margin: 0px 3px; font-size: 16px; font-weight: bold; font-stretch: extra-expanded;">Current Location</p><p style="margin: 8px 0px 0px 3px; font-size: 15px; font-family: system-ui;">Enable Location Services </p> </ion-col>  
  
  <ion-col size="2" class="ion-padding-top" ></ion-col>
  <ion-col size="10" class="ion-padding-top" style="padding-top: 29px;"> <div style="width:100%;border-top:1px solid #040000;margin:8px 0;"> </div></ion-col>
 <ion-col size="2" class="ion-padding-top" ></ion-col>
 <ion-col size="10" class="ion-padding-top"  style="padding: 10px"><p style="margin: 0px;font: menu;">SAVED ADDRESS</p></ion-col>
 <ion-col size="2" class="ion-padding-top" ><ion-icon name="home-outline" style="padding-inline-start: 12px;font-size: 41px;height: 7vh;"></ion-icon></ion-col>
 <ion-col size="10"  class="ion-padding-top"><p style="margin: 0px 3px; font-size: 15px; font-weight: bold; font-stretch: extra-expanded;">HOME</p><p style="margin: 8px 0px 0px 3px;font: menu; font-family: system-ui;">3-244-10 GCM DAVID CANOL STREET NO-1</p> </ion-col>
 <ion-col size="2" class="ion-padding-top" ></ion-col>
 <ion-col size="10" class="ion-padding-top" style="padding-top: 5px;"> <div style="width:100%;border-top:1px solid #040000;margin:8px 0;"> </div></ion-col> 
 
 <ion-col size="2" class="ion-padding-top" ><ion-icon name="bag-handle-outline" style="padding-inline-start: 12px;font-size: 41px;height: 7vh;"></ion-icon></ion-col>
 <ion-col size="10"  class="ion-padding-top"><p style="margin: 0px 3px; font-size: 15px; font-weight: bold; font-stretch: extra-expanded;">Work</p><p style="margin: 8px 0px 0px 3px;font: menu; font-family: system-ui;">3-244-10 Hi-tech city hyderabad 5004520</p> </ion-col>
 <ion-col size="2" class="ion-padding-top" ></ion-col>
 <ion-col size="10" class="ion-padding-top" style="padding-top: 5px;"> <div style="width:100%;border-top:1px solid #040000;margin:8px 0;"> </div></ion-col>  
    </ion-row>
  </ion-grid>
</ion-content>