@font-face {
    font-family: gilroy;
    src: url('../assets/fonts/Gilroy-Bold.ttf');
}

@font-face {
    font-family: gilroybold;
    src: url('../assets/fonts/Gilroy-Bold.ttf');
}
@font-face {
    font-family: gilroyheavy;
    src: url('../assets/fonts/Gilroy-Heavy.ttf');
}