ion-toolbar {
    --background-color: transparent;
    --ion-color-base: transparent !important;
  }

  .iconsize{
    font-size: 30px;
}

ion-input {
    --background: #F5F5F5;
    --padding-start: 20px;
    border-radius: 15px;
    height: 47px
  }

   .lefttext{
    padding-left: 21px;
 }


 .success{
    background-color: #4ae44ad5;
 }
 

 .item-background-color{
    --ion-item-background:#1c421c;
}

.btn{
    background: #004400;
    border-radius: 12px;
    padding: 14px;
}

.border{
    border-style: solid;
    border-color: rgb(216, 211, 211);
    padding: 10px
}

.padding{
    padding:0px
}
.pp{
    padding-left: 91px;
}